[run]
source =
    api
    core
    worker
    services
    repositories
omit =
    tests/*
    */__init__.py
core = sysmon

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError